$color-primary: #6C757D;
$color-toolbar: #CED4DA;
$color-text: #f0f8ff;
$color-power-source: #E5383B;
$color-junction-box: #3C096C;
$color-switch: #FF8500;

@mixin backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #000000;
  opacity: 20%;
  z-index: 2;
}